<div class="container p-0 mt-5">
  	<h2>New post</h2>
</div>



<div class="container p-0">
	<form action="new" method="POST">
		<div class="form-group">
		 	<label for="area"></label>
		 	<textarea name="content" class="form-control" id="area" rows="6" placeholder="Add your post here" autofocus></textarea>
		</div>

		<button type="submit" class="btn btn-primary btn-lg">Send</button>
	</form>
</div>

